.main-app {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 6.4rem 0;
    display: flex;
    gap: 2rem;
}

.product-list {
    width: 100%;
    max-width: 90rem;
}

.side-content {
    min-width: 20rem;
    width: 100%;
    max-width: 36rem;
}

footer {
    padding: 2.4rem;
    background: hsl(14, 65%, 9%);
    text-align: center;
    color: hsl(13, 31%, 94%);
}

.attribution a {
    color: hsl(14, 86%, 42%);
}