@font-face {
    font-family: "RedHatText";
    src: url(/public/assets/fonts/RedHatText-VariableFont_wght.ttf),
            url(../public/assets/fonts/RedHatText-VariableFont_wght.ttf);
}

html {
    font-size: 0.625rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: hsl(13, 31%, 94%);
    font-family: "RedHatText", sans-serif;
    font-size: 1.6rem;
}